* {
	box-sizing: border-box;
	margin: 0;
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
}

nav {
	min-height: 100%;
	grid-column: 1 / 2;
	grid-row: 1 / 3;
	background-color: blue;
	color: white;
	padding: 25px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin-top: 50px;
	font-size: 32px;
}

header {
	min-height: 100px;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	background-color: red;
}


main {
	min-height: 100%;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	background-color: green;
}
